<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylehome.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="logo">Lipe</div>
        <nav>
          <a href="/html/home.html">Início</a>
          <a href="/html/estudos.html">Estudos</a>
          <a href="/html/music.html">Músicas</a>
          <a href="/html/jogos.html">Jogos</a>
          <a href="/html/90days.html">90 days</a>
          <a href="/html/config.html">Configurações</a>
        </nav>
      </header>
</body>
</html>